@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0 ;
    padding: 0;
}
.ppagr{
    font-family: 'Roboto', sans-serif;
}
.col-1{
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    flex: 2;
    margin-right: 20px;
}
.col-2{
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    flex: 1;
}
.content{
    display: flex;
    padding:5px 30%;
    width: 750px;
}

/* top */
.top{
    width: 750px;
    height: 45px;
    background-color: #333333;
    padding: 10px 30%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
   
    
}
.nav-title{
    display: flex;
    flex: 1;
    margin: 0px;
    height: 33px;
    color: white;
    font-size: 30px;
}
ul.nav-links{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    flex: 5;
}
li{
    display: flex;
}
.top a {
    color: #cac9c9;
    text-decoration: unset;
    font-size: 14px;
}
.active{
    font-weight: bold;
    font-size: 17px;
}
button {
    border:2px solid rgb(0, 0, 0);
    background-color: #17a2b8;
    color:rgb(255, 255, 255) ;
    font-size: 18px;
    box-shadow:4px 4px 2px  black;
    align-items: center;
    margin-left: 170px;
    padding: 3px 15px;

}
/* top */
/* profile */
body{
    background-color: #f3f3f3;
}
.icon{
    height: 20px;
}
.user{
    border-radius: 50%;
    background-color: #fff;
    height: 120px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    border: 2px solid #999;
}
.data{
    width: 100%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 1.2rem;
}
.heading{
    background-color: #17a2b8;
    height: 90px;
    margin-bottom: 50px;
}
.myname, h3, p{
    padding: 15px;
}
a {
    color: #3a81e6;
}
/* profile */
/* request */
.ppic{
    height: 30px;
    vertical-align: top;
}
.heading1{
    background-color: #333;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.person{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
}
.pic{
    height: 40px;
    clip-path:circle(50%);
}
.person a, .person1 a{
    text-decoration: none;
    color: black;
}
.twhite{
    color: white;
}
/* request */
/* education */
.education h3{
    text-align: left;
}
.edu{
    font-size: 22px;
    padding-bottom: 0;
}
.edu1{
    font-size: 16px;
    padding-top: 0;
    color: #5a5f5f;
}
/* education */

.person1{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:left;
    margin-left: 15px;
}
h5{
    padding: 10px;
    border-top: 2px solid #999;
}


