<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register / Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css'%}">
</head>
<body>
    <header>
        <h1>Welcome</h1>
        {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
    </header>
    <div class="main">
        <div class="form">
            <h2>Registration Form</h2>
            <form action='register' method='post'>
                {% csrf_token %}
                    <p>first name: <input type='text' name='first_name'></p>
                    <p>last name: <input type='text' name='last_name'></p>
                    <p>Birthday: <input type='date' name='birthday'></p>
                    <p>{{request.session.error2}}</p>
                    <p>email: <input type='email' name='email'></p>
                    <p>password: <input type='password' name='password'></p>
                    <p>confirm PW: <input type='password' name='password_con'></p>
                    <p><input type="submit" value='register'  class="btn"></p>
            </form>
        </div>
        <div class="form">
            <h2>Login Form</h2>
            <p>{{request.session.error1}}</p>
            <form action='log_in' method='post'>
                {% csrf_token %}
                    <p>email: <input type='email' name='email'></p>
                    <p>password: <input type='password' name='password'></p>
                    <p><input type="submit" value='log in'  class="btn"></p>
            </form>
        </div>  
    </div>
    
</body>
</html>