<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
</head>
<body>
    {% for z in range(x): %}
    <div class="row">
    {% for z in range(i): %}
    <div class="red"></div>
    <div class="black"></div>
    {% endfor %}</div>
    <div class="row">
        {% for z in range(i): %}
        <div class="black"></div>
        <div class="red"></div>
        {% endfor %}</div>
    {% endfor %}

</body>
</html>