<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'CSS/style.css'%}">
</head>
<body>
    <h1>Counter</h1>
    <h2>{{request.session.count}} visits</h2>
    <div>
        <form action="destroy_session">
            {% csrf_token %}
            <input type="submit" value='reset' class="btn"> 
        </form>
        <form action="add2">
            {% csrf_token %}
            <input type="submit" value='+2 visits' class="btn"> 
        </form>
    </div>
    <form action="num" method="post" class="add">
        {% csrf_token %}
        <input type="text" name="num" class="enter" > 
        <input type="submit" value='add' class="btn">
    </form>
    <h3>Visits added: {{request.session.num}}</h3>
    
</body>
</html>