<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author review</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'CSS/style.css'%}">
</head>
<body>
    <div class="show">
    <h1>{{ Authors.first_name }} {{  Authors.last_name }}</h1>
    <h3>ID:  {{  Authors.id }} </h3>
    <h3>Notes: </h3>
    <p>{{  Authors.notes }}</p>
    <h3>Books: </h3>
    <ul>
    {% for book in Books %}
        <li>{{ book.title }}</li>
        {% endfor %}
    </ul>
    <form action='addbook' method='post'>
        {% csrf_token %}
    <select id="book" name="book_name">
        {% for book in all_Books %}
        <option value="{{ book.id }}">{{ book.title }}</option>
        {% endfor %}
      </select> 
      <input type="submit" value='Add' class="btn1">
    </form>
</div>
</body>
</html>