.nav{
    height: 35px;
    background-color: #333333;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex: 2;
    align-items: center;
    
}
.nav-title{
    display: flex;
}
ul.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    
}
li{
    
    display: flex;
    
    
}
a {
    color: #cac9c9;
    text-decoration: unset;
    font-size: 14px;
}
.active{
    font-weight: bold;
    font-size: 17px;
    
}
h1{
    margin: 0px;
    height: 33px;
    color: white;
    font-size: 30px;
    flex: 1;
}
.btn {
    border:2px solid rgb(0, 0, 0);
    background-color: #17a2b8;
    color:rgb(255, 255, 255) ;
    font-size: 18px;
    box-shadow:4px 4px 2px  black;
}