@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
.page{
    width: 1100px;
    background-color: #245076;
    font-family: 'Roboto', sans-serif;
}
h5{
    text-align: right;
    margin-right: 40px;
    padding-top: 10px;
    color: white;
}
h5 a{
    color: #f1cb34;
}
.header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 20px 20px;
}
.header img{
    height: inherit;
}
.search{
    height: 35px;
    padding: 10px 30px;
    background-color: rgb(71, 70, 70);
    border-radius: 7px;
    box-shadow: 2px 2px 2px black;
}
.input, button{
    height: 32px;
    border: 2px solid silver;
    text-align: center;
}
button{
    width: 40px;
    background-color:#245076 ;
    border-radius: 7px;
    margin-left: 3px;
}
.par ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    background-color: #5791c0;
    padding: 10px;
    margin: 0 40px 0 70px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 20px;
}
.middle{
    padding: 0 4% 0 10%;
    display: flex;
    align-items:flex-start;
    text-align: center;
}
.parts{
    flex: 1;
    padding: 15px;
    line-height: 27px;
}
.parts a{
    color: white;
    font-size: 18px;
}
.about{
    flex: 2;
    padding: 15px;
    color: white;
    padding-bottom: 20px;
}
.poem{
    color:#f1cb34;
    font-size: 20px;
    padding: 10px;
    font-style: italic;
    line-height: 27px;
}
.who{
    padding: 10px 3%  10px 8%;
    display: flex;
    align-items:flex-start;
    text-align:center;
    background-color: white;
}
strong{
    font-style: normal;
    color:#5791c0 ;
}
.g-started, .applications{
    border-top: 3px solid grey;
    margin-right: 25px;
}
.g-started{
    padding: 0 11% 0 1%;
    margin-left: 10px;
}
.applications{
    padding: 0 6% 0 1%;
}
.g-started li, .applications li{
    list-style: square;
    color:#5791c0  ;
}
.help ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 30px 15%;
    color: rgb(136, 163, 200);
    font-size: 20px;
}
h3{
    line-height: 35px;
}


