body{
    margin: 30px auto;
    width: 600px;
    text-align: center;
}
p{
    font-size: 30px;
}
div{
    width: 150px;
    height: 120px ;
    padding: 45px;
    border: 2px solid black;
    margin: 30px auto;
    background-color: red;
}