*{
    margin: 0px;
}
.card{
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    position:fixed ;
    left: 20%;
    top:  20%;
    background: linear-gradient(rgb(130, 200, 197) 25%, rgb(255, 255, 255) 25%) ;
    border: 2px solid rgb(131, 131, 131);
    
}
.data{
    width: 300px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    position: relative;
    top: 10px;
}
.user{
    height: 70px;
    width: 70px;
    border: solid 2px rgb(131, 131, 131);
    border-radius: 50px;
    background-color: white;
    padding: 3px;
}

.icon{
    display: flex;
    align-items: center;
    
}
img{
    height: 25px;
    padding-right: 10px;
}
p{
    font-size: 18px;
}

