<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'CSS/wall.css'%}">
</head>
<body>
    <header>
        <h1>CodingDojo Wall</h1>
        <h4>Welcome {{request.session.first_name}}</h4>
        <a href="delete">logout</a>
    </header>
    <main>
    <form action="post_message" method='post'>
        {% csrf_token %}
        <h3>Post a Message</h3>
        <textarea name="m_post" id="" cols="65" rows="5"></textarea><br>
        <input type="submit" value='Post a message'  class="btn">
    </form>
    <ul >    
        {% for message in all_messages %} 
            <h5>{{ message.user.first_name }} {{ message.user.last_name }} - {{ message.created_at }}</h5>   
            <li>{{ message.post }} </li> 
        {% endfor %}
    </ul>
</main>

</body>
</html>