@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 1000px;
}
header{
    align-items: center;
    display: flex;
    padding: 10px 11%;
}
.games{
    display: flex;
    flex: 5;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: flex-end;
    list-style: none;
}
.games li {
    text-align: right;
    width: 165px;
}
nav{
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 11%;
}
nav ul {
    color: #bdbdbd;
    display: flex;
    font-size: 13px;
    list-style: none;
}
nav li {
    margin-left: 40px;
}
.navimg li{
    margin-left: 20px;
}
.navimg{
    margin-left: 60px;
}
.navimg img{
    height: 27px;
}
nav h2{
    background-color: #ff1800;
    clip-path: polygon( 10% 0% , 100% 0%,90% 100%,0% 100%);
    font-size: 30px;
    font-style: italic;
    padding: 5px 12px;
    text-align: center;
    width: 95px;
}
.content {
    background-color: #dddddd;
    display: flex;
    height: 520px;
    padding: 15px 11%;
}
aside{
    flex: 2.2;
    margin-right: 15px;
}
aside section{
    background-color: white;
    border-radius: 10px;
    line-height: 34px;
    margin-bottom: 15px;
    padding:10px 20px 20px 20px;
}
aside section h3{
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
aside section h4{
    margin-bottom: 8px;
}
aside section ul{
    list-style: none;
}
aside .news{
    padding-bottom: 20px;
}
aside button{
    background-color: #2b78e4;
    border: 2px solid black;
    box-shadow: 3px 3px 1px rgb(8, 8, 8);
    color: white;
    padding: 7px 11%;
    height: 35px;
}
.white{
    background-color: #ffffff;
    color: black;
    margin-left: 13px;
}
.yellow{
    background-color: #ffe599;
    color: black;
    width: 210px;
}
main{
    background-color: white;
    border-radius: 10px;
    flex: 4;
    height:435px;
    padding: 15px 20px;
}
h1{
    font-size: 30px;
    margin-bottom: 10px;
}
h1 span {
    color: red;
    padding-right: 85px;
}
h1 ::before{
    background-color: red;
    border-radius: 15px;
    bottom: 8px; 
    content: "....";
    font-size: 12.5px;
    margin-right: 4px;
    position: relative;
}
main .colmns{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
main .colmns ul{
    list-style: none;
    text-align: center;
}
main .colmns img {
    height: 165px;
    margin-bottom: 8px;
}
.data{
    color: gray;
    font-size: 11px;
}
.score, .score1{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 5px;
}
.ninjas{
    color: rgb(82, 182, 185);
    font-size: 35px;
}
.pirates{
    color: rgb(255, 0, 0);
    font-size: 35px;
}
main p {
    border-top: 2px solid black;
    padding-bottom: 25px;
    padding-top: 10px;
    font-size: 14px;
}
.vs {
    font-size: 25px;
    margin: 70px 0 120px 0;
}
.time{
    font-size: 13px;
}
