<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>

    <form action='/result' method='post'>
        {% csrf_token %}
        <div class="info">
            <p>Your Name: </p>
            <input type='text' name='name'>
            <p>Dojo Location: </p>
            <select name="location" >
                <option value="Nablus">Nablus</option>
                <option value="Ramallah">Ramallah</option>
                <option value="Jenin">Jenin</option>
            </select>
            <p>Favorite Language: </p>
            <select name="lang" >
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="HTML">HTML</option>
            </select>
            <p>Please select your Jop:</p>
            <div class="radio">
                <input type="radio"  name="jop" value="Front-end">
                <label for="Front-end">Front-end</label><br>
                <input type="radio"  name="jop" value="Back-end">
                <label for="Back-end">Back-end</label><br>
                <input type="radio"  name="jop" value="Full Stacker">
                <label for="Full Stacker">Full Stacker</label>
            </div>
            <p>Please select your Experience:</p>
            <div class="check">
                <input type="checkbox"  name="exp" value="0-1 year">
                <label for="0-1 year"> 0-1 year</label><br>
                <input type="checkbox"  name="exp" value="1-2 year/s">
                <label for="1-2 year/s"> 1-2 year/s</label><br>
                <input type="checkbox"  name="exp" value="2 or more years">
                <label for="2 or more years"> 2 or more years</label>
            </div>
            <p>Comment (optional):</p>
            <textarea name="comment"  cols="60" rows="5"></textarea>
        </div>
        <input type='submit' id="btn" value='Button'>
    </form>
    
    
</body>
</html>